.bb{
    display: flex;
    text-align: end;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    text-align: center;
    color: brown;
}
p{
    text-align: justify;
}
img{
    width: 100%;
}
button{
    background-color: rgb(182, 182, 252);
}